services:
  api:
    image: myapp:latest
    build:
      context: .
      dockerfile: .docker/Dockerfile
    ports:
      - "8080:3000"
    environment:
      - ENV=production
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
  db:
    image: postgres:latest
    environment:
        - POSTGRES_USER=user
        - POSTGRES_PASSWORD=password
        - POSTGRES_DB=mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data
    deploy:
      replicas: 1
  grafana:
    image: grafana/grafana-enterprise
    restart: unless-stopped
    ports:
      - "4000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
    volumes:
      - grafana_data:/var/lib/grafana
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  db_data:
  grafana_data: