version: '3.8'

services:
  traefik:
    image: traefik:v2.11
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.swarmMode=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-public
    deploy:
      placement:
        constraints:
          - node.role == manager

  front:
    image: m4cht/monapp-front:latest
    networks:
      - traefik-public
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.http.routers.front.rule=Host(`monapp.13.38.83.103.nip.io`)"
        - "traefik.http.services.front.loadbalancer.server.port=80"

  back:
    image: m4cht/monapp-back:latest
    networks:
      - traefik-public
      - db_internal
    deploy:
      replicas: 2
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.http.routers.back.rule=Host(`api.monapp.13.38.83.103.nip.io`)"
        - "traefik.http.services.back.loadbalancer.server.port=3000"

  db:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - db_internal

  grafana:
    image: grafana/grafana-enterprise
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - traefik-public
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.http.routers.grafana.rule=Host(`monitor.monapp.13.38.83.103.nip.io`)"
        - "traefik.http.services.grafana.loadbalancer.server.port=3000"

  prometheus:
    image: prom/prometheus
    volumes:
      - ~/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - traefik-public

volumes:
  db_data:
  grafana_data:

networks:
  traefik-public:
    external: true
  db_internal:
    driver: overlay