services:
  api:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    ports:
      - "8080:3000"
    environment:
      - ENV=production
    depends_on:
      - db
  db:
    image: postgres:latest
    environment:
        - POSTGRES_USER=user
        - POSTGRES_PASSWORD=password
        - POSTGRES_DB=mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data
  grafana:
    image: grafana/grafana-enterprise
    restart: unless-stopped
    ports:
      - "4000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  db_data:
  grafana_data: