version: '3.8'

services:
  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.swarmMode=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-public
    deploy:
      placement:
        constraints:
          - node.role == manager

  api:
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/monapp:${IMAGE_TAG:-latest}
    environment:
      - ENV=production
      - DB_HOST=db
      - DB_PASS=password
    networks:
      - traefik-public
      - db_internal
    deploy:
      replicas: 2
      update_config:
        order: start-first
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.monapp.rule=Host(`monapp.13.38.83.103.nip.io`)"
        - "traefik.http.services.monapp.loadbalancer.server.port=3000"

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - db_internal
    deploy:
      replicas: 1

  grafana:
    image: grafana/grafana-enterprise
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - traefik-public
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.grafana.rule=Host(`grafana.TON_IP.nip.io`)"
        - "traefik.http.services.grafana.loadbalancer.server.port=3000"

volumes:
  db_data:
  grafana_data:

networks:
  traefik-public:
    driver: overlay
  db_internal:
    driver: overlay