version: '3.8'

services:
  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.swarmMode=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-public
    deploy:
      placement:
        constraints:
          - node.role == manager

  api:
    image: m4cht/monapp:latest
    networks:
      - traefik-public
      - db_internal
    deploy:
      replicas: 2
      update_config:
        order: start-first
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.monapp.rule=Host(`monapp.13.38.83.103.nip.io`)"
        - "traefik.http.services.monapp.loadbalancer.server.port=3000"

  db:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - db_internal

volumes:
  db_data:

networks:
  traefik-public:
    external: true
  db_internal:
    driver: overlay