name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t myapp:latest -f .docker/Dockerfile .
    - name: Run the Docker container
      run: docker run -d -p 8080:3000 --name myapp myapp:latest
    - name: Test the application
      run: |
        sleep 10 # Wait for the container to start
        curl -f http://localhost:8080/ || exit 1
